In [1]:
DATA_PATH = "subtropical_humid_region.csv"
import pandas as pd
df = pd.read_csv(DATA_PATH)

In [2]:
df.shape

(2557, 8)

In [3]:
df.head()

,Date,Population,T avg C,D.P avg C,humidity,Average wind speed(Kmh),Ppt avg (in),water consumption(m3)
0,1/1/year 1,2789,11.111111,1.111111,57.5,48.336527,0.0,1824.643328
1,1/2/year 1,3554,11.666667,2.222222,59.0,48.336527,0.0,1883.771432
2,1/3/year 1,3554,12.222222,3.333333,58.5,48.264107,0.0,1802.157993
3,1/4/year 1,3554,11.111111,3.888889,66.0,48.248013,0.0,1810.485895
4,1/5/year 1,3554,12.777778,5.555556,62.0,48.360667,0.0,1859.620517

In [4]:
df.columns

Index(['Date ', 'Population', 'T avg C', 'D.P avg C', 'humidity',
       'Average wind speed(Kmh)', 'Ppt avg (in)', 'water consumption(m3)'],
      dtype='object')

In [5]:
year_mapping = {
    'year 1': '2017',
    'year 2': '2018',
    'year 3': '2019',
    'year 4': '2020',
    'year 5': '2021',
    'year 6': '2022',
    'year 7': '2023'
}
df['Date'] = df['Date '].apply(lambda x: "/".join([x.split("/")[0], x.split("/")[1], year_mapping[x.split("/")[2]]]))
df = df.drop(['Date '], axis=1)

In [6]:
df.head()

,Population,T avg C,D.P avg C,humidity,Average wind speed(Kmh),Ppt avg (in),water consumption(m3),Date
0,2789,11.111111,1.111111,57.5,48.336527,0.0,1824.643328,1/1/2017
1,3554,11.666667,2.222222,59.0,48.336527,0.0,1883.771432,1/2/2017
2,3554,12.222222,3.333333,58.5,48.264107,0.0,1802.157993,1/3/2017
3,3554,11.111111,3.888889,66.0,48.248013,0.0,1810.485895,1/4/2017
4,3554,12.777778,5.555556,62.0,48.360667,0.0,1859.620517,1/5/2017

In [7]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', errors='coerce')

In [8]:
df

,Population,T avg C,D.P avg C,humidity,Average wind speed(Kmh),Ppt avg (in),water consumption(m3),Date
0,2789,11.111111,1.111111,57.5,48.336527,0.0,1824.643328,2017-01-01
1,3554,11.666667,2.222222,59.0,48.336527,0.0,1883.771432,2017-01-02
2,3554,12.222222,3.333333,58.5,48.264107,0.0,1802.157993,2017-01-03
3,3554,11.111111,3.888889,66.0,48.248013,0.0,1810.485895,2017-01-04
4,3554,12.777778,5.555556,62.0,48.360667,0.0,1859.620517,2017-01-05
...,...,...,...,...,...,...,...,...
2552,4469,8.333333,0.555556,61.0,48.457227,0.0,1668.245329,2023-12-27
2553,4469,10.000000,0.555556,53.5,48.425041,0.0,1606.323592,2023-12-28
2554,3484,10.000000,1.666667,51.5,48.505508,0.0,1651.256409,2023-12-29
2555,3484,11.666667,3.888889,57.5,48.610115,0.0,1653.247534,2023-12-30
2556,4469,10.555556,3.333333,59.5,48.513554,0.0,1679.556134,2023-12-31

In [9]:
df[df['Date'].isna()]

,Population,T avg C,D.P avg C,humidity,Average wind speed(Kmh),Ppt avg (in),water consumption(m3),Date
59,3554,16.666667,5.000000,50.0,47.885912,0.0,617.627496,NaT
1520,4370,18.888889,11.111111,55.0,48.465274,0.0,1434.897515,NaT

In [10]:
df.isnull().sum()

Population                 0
T avg C                    0
D.P avg C                  0
humidity                   0
Average wind speed(Kmh)    0
Ppt avg (in)               0
water consumption(m3)      0
Date                       2
dtype: int64